# Исключить папку node_modules (устанавливаемые зависимости)
node_modules/

# Исключить окружение и конфиденциальные данные
.env
.env.local
.env.*.local

# Исключить кеши и временные файлы ID
.vscode/
